# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.env

# Logs
logs
*.log
logs/*

# Build outputs
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp
*.swo
*.bak
